<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="sideMenu(menus)">
  <nav class="sidebar">
    <div class="sidebar-header">
      <h1>タスク管理</h1>
    </div>
    <ul class="sidebar-menu">
      <li th:each="menu : ${menus.menuResponses}"
          th:id="'side-menu-' + ${menu.id}"
          th:data-menu-url="${menu.url}">
        <a th:href="@{${menu.url}}" class="menu-item" th:text="${menu.name}"></a>
      </li>
      <li>
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="menu-item">ログアウト</button>
        </form>
      </li>
    </ul>
  </nav>
  <script th:src="@{/js/common/sideMenu.js}"></script>
</th:block>
</body>